.container {
  position: relative;
  width: 350px;
  height: 460px;
  border-radius: 10px;
  background: #1c1c1c;
}

.input {
  display: flex;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  background: #313131;
}

.input_text_container {
  height: 30px;
  width: 220px;
  line-height: 30px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input_text {
  float: right;
  min-width: 100%;
  font-size: 15px;
  color: #d1d2d5;
}

.extensions_button {
  margin-left: 15px;
  line-height: 26px;
  font-size: 17px;
  font-weight: 900;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  color: #313131;
  background: #757e86;
}

.extensions_button_icon {
  margin-left: 5px;
}

.dialogue {
  padding: 25px;
  height: 400px;
  overflow: hidden;
  color: white;
}

.message {
  display: flex;
}

.profile_picture {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50px;
  margin-right: 10px;
  background: #776e6e;
}

.waiting {
  display: flex;
  align-items: center;
  position: absolute;
  top: 95%;
  left: 10%;
  margin-left: 5px;
  color: white;
}

.waiting p {
  margin: 0;
  font-size: 13px;
}

.waiting span {
  font-weight: bold;
}

.message_top span:first-child {
  font-size: 16px;
  color: white;
}

.message_top span:last-child {
  font-size: 14px;
  margin-left: 5px;
  color: #776e6e;
}

.message_bottom {
  width: 200px;
  margin: 5px 0 20px 0;
  font-size: 16px;
  color: #d1d2d5;
}

.message_bottom p {
  margin: 0;
}

.embed {
  display: flex;
  align-items: stretch;
  width: 225px;
  border-radius: 5px;
  background: #313131;
}

.embed_content {
  padding: 5px 15px 15px 15px;
  width: 100%;
  height: 100%;
}

.embed_content h1 {
  font-size: 15px;
  color: white;
}

.embed_content p {
  font-size: 14px;
  padding: 0;
  margin: 10px 0 0 0;
}

.embed_bar {
  width: 5px;
  border-radius: 5px 0 0 5px;
  background: #00afd6;
}

.waiting_dot {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50px;
  opacity: 0;
  background: white;
  animation: loading-fade 1s infinite;
}

.waiting_dot:nth-child(1) {
  animation-delay: 0s;
}

.waiting_dot:nth-child(2) {
  animation-delay: 0.2s;
}

.waiting_dot:nth-child(3) {
  animation-delay: 0.4s;
}

.reaction {
  display: flex;
  align-items: center;
  width: 45px;
  height: 22px;
  padding: 5px;
  border-radius: 4px;
  background: rgba(102, 101, 101, 0.5);
  animation: popper 0.5s;
}

.reaction img {
  width: 15px;
  height: 15px;
  object-fit: fill;
}

.reaction span {
  font-size: 15px;
  color: #6d6c6c;
  margin-left: 10px;
}

@keyframes loading-fade {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes popper {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
